<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>打印設置</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>公司名稱
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="Name" name="Name" value="{{ Name }}"
                            autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>公司地址
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="Address" name="Address" value="{{ Address }}"
                            autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>公司電話
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="Phone" name="Phone" value="{{ Phone }}"
                            autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>入數資料
                        </label>
                        <div class="layui-input-inline">
                            <textarea id="Payment" placeholder="请输入内容"
                                      class="layui-textarea">{{ Payment }}</textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>備註
                        </label>
                        <div class="layui-input-inline">
                            <textarea id="Memo" placeholder="请输入内容"
                                      class="layui-textarea">{{ Memo }}</textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button  class="layui-btn" lay-filter="Save" lay-submit="">
                        保存
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer', 'upload'],
            function() {
                let form = layui.form,
                layer = layui.layer;

                //监听提交
                form.on('submit(Save)',function(data) {
                    layer.msg("保存中...", {icon: 16,shade: 0.3,time: 0});

                    $.ajax({
						type:'post',
						url:"./PrintSettings/Save/",
						data:{
							Name: $("#Name").val(),
							Address: $("#Address").val(),
							Phone: $("#Phone").val(),
							Payment: $("#Payment").val(),
							Memo: $("#Memo").val(),
							csrfmiddlewaretoken:'{{ csrf_token }}',
						},
						success:function (data) {
							if(data.status) {
                                layer.alert("保存完成", {icon: 6});
                            }else {
                                layer.alert(data.msg, {icon: 2});
                            }
                        }
					});
                    return false;
                });

            });
		</script>
        
    </body>

</html>
