<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>產品修改</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>產品名稱
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="Name" name="Name" value="{{ Product.Name }}"
                            autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>標籤
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="Label" name="Label" value="{{ Product.Label }}"
                            autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                        <span class="x-red">*</span>一箱數
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="QuantityPerBox" name="QuantityPerBox" value="{{ Product.QuantityPerBox }}"
                            autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                        <span class="x-red">*</span>入貨價
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="PurchasePrice" name="PurchasePrice" value="{{ Product.PurchasePrice }}"
                            autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button  class="layui-btn" lay-filter="Edit" lay-submit="">
                        修改
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer', 'upload'],
            function() {
                let form = layui.form,
                layer = layui.layer;

                //监听提交
                form.on('submit(Edit)',function(data) {
                    layer.msg("修改中...", {icon: 16,shade: 0.3,time: 0});

                    $.ajax({
						type:'post',
						url:"./ProductEdit/Edit/",
						data:{
						    ProductID:"{{ Product.id }}",
							Name: $("input[name='Name']").val(),
							OldName: "{{ Product.Name }}",
							Label: $("input[name='Label']").val(),
							QuantityPerBox: $("input[name='QuantityPerBox']").val(),
							PurchasePrice: $("input[name='PurchasePrice']").val(),
							HavePhoto: "{{ Product.HavePhoto }}",
							csrfmiddlewaretoken:'{{ csrf_token }}',
						},
						success:function (data) {
							if(data.status) {
                                layer.alert("修改成功", {icon: 6},
                                    function() {
                                        let index = parent.layer.getFrameIndex(window.name);
                                        parent.layer.close(index)
                                    }
                                );
                            }else {
                                layer.alert(data.msg, {icon: 2});
                            }
                        }
					});
                    return false;
                });

            });
		</script>
        
    </body>

</html>
