<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>新增訂單</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" onclick="return false">

                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>訂單編號
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="OrderID" name="OrderID" lay-verify="required" value="{{ OrderID }}" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>日期
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="Date" name="Date" lay-verify="required" value="{{ Date }}" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>客戶姓名
                        </label>

                        <div class="layui-input-inline">
                            <input type="text" id="Name" name="Name" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>地址
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="Address" name="Address" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>聯繫電話
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="Phone" name="Phone" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button  class="layui-btn" lay-filter="Create" lay-submit="">
                        增加
                        </button>
                        <button class="layui-btn" id="Search">
                            <i class="layui-icon">&#xe615;</i>
                        </button>
                    </div>

                    <select class="form-control" lay-filter="Client" id="Client">
                        <option>--請先搜索--</option>
                    </select>

                </form>
            </div>
        </div>
    </body>

    <script>

        /**
         * 傳入異步傳回的客戶資料，渲染下拉框
         * @param ClientList
         * @param form
         * @constructor
         */
        function GetClientListForSelect(ClientList, form){
            window.ClientList = ClientList;
            let selectOption = "";
            selectOption += "<option value='Prompt'>--請選擇顧客--</option>";
            for (let x in ClientList) {
                if (ClientList.hasOwnProperty(x) && ClientList[x] != null){
                    let ShowString = ClientList[x]['Name'] + ";";
                    ShowString += ClientList[x]['Phone'] + ";";
                    ShowString += ClientList[x]['Address'] + ";";
                    selectOption += "<option value=" + x + ">" + ShowString + "</option>";
                }
            }
            $('#Client').html(selectOption);
            form.render('select');
        }

        layui.use(['form', 'layer'],
            function() {
                let form = layui.form,
                layer = layui.layer;

                //监听提交
                form.on('submit(Create)',function(data) {
                    layer.msg("創建中...", {icon: 16,shade: 0.3,time: 0});

                    $.ajax({
                        type:'post',
                        url:"./OpenNewOrder/Create/",
                        data:{
                            OrderID: $("input[name='OrderID']").val(),
                            Date: $("input[name='Date']").val(),
                            Name:$("input[name='Name']").val(),
                            Address:$("input[name='Address']").val(),
                            Phone:$("input[name='Phone']").val(),
                            csrfmiddlewaretoken:'{{ csrf_token }}',
                        },
                        success:function (data) {
                            if(data.status) {
                                parent.NewOrderID = $("input[name='OrderID']").val();
                                let index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            }else {
                                layer.alert(data.msg, {icon: 2});
                            }
                        }
                    });
                    return false;
                });

                $('#Search').click(function () {
                    $.ajax({
                        type:'post',
                        url:"./OpenNewOrder/GetClientList/",
                        data:{
                            Name:$("#Name").val(),
                            Phone:$("#Phone").val(),
                            csrfmiddlewaretoken:'{{ csrf_token }}',
                        },
                        success:function (data) {
                            if(data.status) {
                                let ClientList = data["data"];
                                new GetClientListForSelect(ClientList, form);
                            }
                        }
                    });
                });

                /**
                 * 下拉選擇，自動填入顧客資料
                 */
                form.on('select(Client)', function(data){
                    if(data.value!== "Prompt"){
                        $("#Name").val(window.ClientList[data.value]['Name']);
                        $("#Address").val(window.ClientList[data.value]['Address']);
                        $("#Phone").val(window.ClientList[data.value]['Phone']);
                    }
                });

            });
    </script>
</html>
